header
{
	color:white;
	background-color:darkslategray;
	height:130px;


}
#header-statement
{
	text-align:center;
}
#header-statement2
{
	text-align:center;
}
#description
{
	background-color:dimgrey;
	color:greenyellow;
	float:center;
	padding:15px;
	border-color: black;
	display:inline-block;
	text-align: center;
	

}
.gallery-images
{
	display:inline-block;
	float:left;

}
footer
{
	background-color: dimgray;
	color:white;
	float:center;
	text-align:center;
	height:40px;
	position: absolute;
	padding-bottom: 0%;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

section
{
	height:790px;
	background-color: lightslategrey;
	float: center;
	position:absolute;
	width:100%;
}